@using Hoard.SampleLogic.Counter
@using F3N.Hoard.Extensions
@using F3N.Hoard.State

@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="@IncrementCount">Click me</button>

@functions {
    CounterStore counterStore;
    CounterState state;

    protected override async Task OnInitAsync()
    {
        counterStore = await CounterStore.Instance;

        counterStore.Observe().Subscribe((s) => {
            currentCount = s.Count;
        });

        state = await CounterStore.State;

        currentCount = state.Count;
    }

    int currentCount = 0;

    async Task IncrementCount()
    {
        await counterStore.Dispatch<CounterStore>(new Hoard.SampleLogic.Counter.Commands.IncrementCounter());
    }

    async Task DecrementCount()
    {
        await counterStore.Dispatch(new Hoard.SampleLogic.Counter.Commands.DecrementCounter());
    }
}
