@inject Hoard.SampleLogic.Counter.CounterStore counterStore

@if (isLoaded)
{
    <CascadingValue Value="@this">
        @ChildContent
    </CascadingValue> 
}
else
{
    <p>Loading...</p>
}

@code
{
    private bool isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public Hoard.SampleLogic.Counter.CounterStore CounterStore { get { return counterStore; } }
    
    protected override async Task OnInitializedAsync()
    {
        await counterStore.Initialise();
        
        isLoaded = true;
    } 
}