@page "/"

<h1>F3N.Hoard</h1>

<p>The counter store uses a single value to persist the count between page loads and application shutdowns</p>
<p>The forecast data store uses a collection of values to persist the data between page loads and application shutdowns</p>
